body{
    background-color: black;
    font-family: Arial, 
    Helvetica, sans-serif;
    margin: 0;
}
h2{
    
    background: linear-gradient(
        to right, #f092b6, #e60dc6,
        #06d0e6,  #131ef3);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;

}

.mainPage{
    display:grid;
    grid-template-columns:auto auto;
    grid-template-rows: 1vh 20vh 79vh;
    grid-template-areas: 'menu menu'
                        'header header'
                         'content content';

}
@media only screen and (max-width: 400px) {
  .mainPage{
    display:grid;
    grid-template-columns:auto auto;
    grid-template-rows: 5vh 10vh 85vh;
    grid-template-areas: 'menu menu'
                        'header header'
                         'content content';
  }  
}


.menu{
    grid-area: menu;
    font-size: xx-large;
   
}
.header{
    grid-area: header;
    text-align: center;
   margin: 5%;

}
.content{
    grid-area: content;
    border: solid grey 2px;
    color: white;
}
.menuBTN{
    width: 100px;
    height: 20px;
    text-align: center;
    background: linear-gradient(
    to right, #f092b6, #e60dc6,
    #06d0e6,  #131ef3);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    margin: 2%;
    /* box-shadow:  2px 5px 7px 1px rgb(234, 153, 204); */
    /* font-weight: bolder; */
    font-size:medium;

}
.menuBTN:hover{
    opacity: 0.7;
}